input[type=text],input[type=email],input[type=password],textarea{
    padding: 12px 20 px;
    font-size: 1.6em;
    width:100%;
    margin: 8px 0;
    border: 1px solid #424242;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
textarea{
    height:150px;
    font-family: 'Courier New', Courier, monospace;
}
input[type=submit]{
    width: 30%;
    padding: 12px 20px;
    background-color:#074f57;
    border: none;
    margin: 8px 0;
    border-radius: 10px;
    color: rgb(23, 26, 28);
    box-sizing: border-box;
    font-size: 1.6em;
    cursor: pointer;
}
input[type=date]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 2px solid #424242;
	box-sizing: border-box;
	border-radius: 4px;
    font-size: 1.6em;

}